<section>
  <ant-layout>
    <header>Header</header>
    <main>Content</main>
    <footer>Footer</footer>
  </ant-layout>  
</section>
<br>

<section>
  <ant-layout>
    <header>Header</header>
    <ant-layout>
      <ant-layout-sider>Sider</ant-layout-sider>
      <main>Content</main>
    </ant-layout>
    <footer>Footer</footer>
  </ant-layout>  
</section>
<br>

<section>
  <ant-layout>
    <header>Header</header>
    <ant-layout>
      <main>Content</main>
      <ant-layout-sider>Sider</ant-layout-sider>
    </ant-layout>
    <footer>Footer</footer>
  </ant-layout>  
</section>
<br>

<section>
  <ant-layout>
    <ant-layout-sider>Sider</ant-layout-sider>
    <ant-layout>
      <header>Header</header>
      <main>Content</main>
      <footer>Footer</footer>
    </ant-layout>
  </ant-layout>  
</section>
