<ng-template #tokensTpl let-tokens>
  <ng-container *ngFor="let token of tokens">
    <span *ngIf="token[0] !== 0" class="token {{ token[0] | tokenType }}">
      <ng-container *ngIf="token[1]">{{ token[1] }}</ng-container>
      <ng-container *ngIf="token[2]">
        <ng-container *ngTemplateOutlet="tokensTpl; context: { $implicit: token[2] }"></ng-container>
      </ng-container>
    </span>
    <ng-container *ngIf="token[0] === 0">{{ token[1] }}</ng-container>
  </ng-container>
</ng-template>

<ng-container *ngTemplateOutlet="tokensTpl; context: { $implicit: def.tokens }"></ng-container>
