<article>
  <section class="markdown">
    <h1>{{ name | titlecase }}</h1>

    <section class="markdown">
      <div *ngIf="info.intro" [innerHTML]="info.intro"></div>
      <ng-container *ngIf="info.whenToUse">
        <h2 id="when-to-use">
          <span>When To Use</span>
          <a class="anchor" href="#when-to-use">#</a>
        </h2>
        <div [innerHTML]="info.whenToUse"></div>
      </ng-container>
    </section>
  
    <h2 *ngIf="components.length > 0">
      <span>Examples</span>
      <i class="code-box-expand-trigger" antIcon="appstore-o"></i>
    </h2>
  </section>

  <ant-row *ngIf="components.length > 0" gutter="16">
    <ant-col class="code-boxes-col-1-1" span="24">
      <section *ngFor="let component of components"
               class="code-box expand" [attr.id]="'components-' + name + '-demo-' + component.path">
        <section class="code-box-demo">
          <ng-container *ngComponentOutlet="component.type"></ng-container>
        </section>
        <section class="code-box-meta markdown">
          <div class="code-box-title">
            <a href="/">{{ component.title | titlecase }}</a>
            <a class="edit-button" href="/" target="_blank"><i antIcon="edit"></i></a>
          </div>
          <div [innerHTML]="component.description"></div>
        </section>
        <section class="highlight-wrapper highlight-wrapper-expand">
          <div class="highlight">
            <source-viewer [template]="component.template" [clazz]="component.clazz"></source-viewer>
          </div>
        </section>
      </section>
    </ant-col>
  </ant-row>

  <section class="markdown api-container">
    <h2 id="api">
      <span>API</span>
      <a class="anchor" href="#api">#</a>
    </h2>
    <ng-container *ngFor="let directive of info.directives">
      <h3>{{ directive.name }}</h3>
      <table>
        <thead>
          <tr>
            <th>Property</th>
            <th>Description</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let property of directive.properties">
            <td>{{ property.name }}</td>
            <td [innerHTML]="property.description || '-'"></td>
            <td><code>{{ property.type }}</code></td>
            <td><code>{{ property.defaultValue || '-' }}</code></td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </section>
</article>
