<article>
  <section class="markdown">
    <h1>{{ name | titlecase }}</h1>

    <section class="markdown">
      <div *ngIf="info.intro" [innerHTML]="info.intro"></div>
      <ng-container *ngIf="info.whenToUse">
        <h2 id="when-to-use">
          <span>When To Use</span>
          <a class="anchor" href="#when-to-use">#</a>
        </h2>
        <div [innerHTML]="info.whenToUse"></div>
      </ng-container>
    </section>
  
    <h2 *ngIf="components.length > 0">
      <span>Examples</span>
      <i class="code-box-expand-trigger"
         [class.code-box-expand-trigger-active]="codeExpandAll"
         [antIcon]="codeExpandAll ? 'appstore' : 'appstore-o'"
         (click)="codeExpandAll = !codeExpandAll">
      </i>
    </h2>
  </section>

  <ant-row *ngIf="components.length > 0" gutter="16">
    <ant-col ngClass="code-boxes-col-{{info.cols}}-1" [span]="24 / info.cols">
      <ng-container *ngFor="let component of components; index as i">
        <ng-container *ngIf="i % info.cols === 0">
          <ng-container *ngTemplateOutlet="demosTpl; context: { $implicit: component }"></ng-container>
        </ng-container>
      </ng-container>
    </ant-col>
    <ant-col *ngIf="info.cols > 1" ngClass="code-boxes-col-{{info.cols}}-1" [span]="24 / info.cols">
      <ng-container *ngFor="let component of components; index as i">
        <ng-container *ngIf="i % info.cols !== 0">
          <ng-container *ngTemplateOutlet="demosTpl; context: { $implicit: component }"></ng-container>
        </ng-container>
      </ng-container>
    </ant-col>

    <ng-template #demosTpl let-component>
      <section class="code-box" [class.expand]="codeExpandAll || codeExpand[component.path]"
               [attr.id]="'components-' + name + '-demo-' + component.path">
        <section class="code-box-demo">
          <ng-container *ngComponentOutlet="component.type"></ng-container>
        </section>
        <section class="code-box-meta markdown">
          <div class="code-box-title">
            <a href="/">{{ component.title | titlecase }}</a>
            <a class="edit-button" href="/" target="_blank"><i antIcon="edit"></i></a>
          </div>
          <div class="code-box-description" [innerHTML]="component.description"></div>
          <div class="code-box-actions">
            <!-- TODO(tooltip): Add tooltip of 'Hide Code'/'Show Code' -->
            <span class="code-expand-icon">
              <img alt="expand code" src="https://gw.alipayobjects.com/zos/rmsportal/wSAkBuJFbdxsosKKpqyq.svg"
                [class]="codeExpandAll || codeExpand[component.path] ? 'code-expand-icon-hide' : 'code-expand-icon-show'"
                (click)="codeExpand[component.path] = true">
              <img alt="expand code" src="https://gw.alipayobjects.com/zos/rmsportal/OpROPHYqWmrMDBFMZtKF.svg"
                [class]="codeExpandAll || codeExpand[component.path] ? 'code-expand-icon-show' : 'code-expand-icon-hide'"
                (click)="codeExpand[component.path] = false">
            </span>
          </div>
        </section>
        <section class="highlight-wrapper" [class.highlight-wrapper-expand]="codeExpandAll || codeExpand[component.path]">
          <div class="highlight">
            <source-viewer [template]="component.template" [clazz]="component.clazz"></source-viewer>
          </div>
        </section>
      </section>
    </ng-template>
  </ant-row>

  <section class="markdown api-container">
    <h2 id="api">
      <span>API</span>
      <a class="anchor" href="#api">#</a>
    </h2>
    <ng-container *ngFor="let directive of info.directives">
      <h3>{{ directive.name }}</h3>
      <table>
        <thead>
          <tr>
            <th>Property</th>
            <th>Description</th>
            <th>Type</th>
            <th>Default</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let property of directive.properties">
            <td>{{ property.name }}</td>
            <td [innerHTML]="property.description || '-'"></td>
            <td><code [def]="property.type"></code></td>
            <td><code>{{ property.defaultValue || '-' }}</code></td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </section>
</article>
