<article>
  <h1>Button</h1>

  <ant-row gutter="16">
    <ant-col class="code-boxes-col-1-1" span="24">
      <section [demo]="['button', 'basic']" title="Type">
        <button-demo-basic></button-demo-basic>
      </section>
      <section [demo]="['button', 'size']" title="Size">
        <button-demo-size></button-demo-size>
      </section>
      <section [demo]="['button', 'loading']" title="Loading">
        <button-demo-loading></button-demo-loading>
      </section>
      <section [demo]="['button', 'button-group']" title="Button Group">
        <button-demo-button-group></button-demo-button-group>
      </section>
      <section [demo]="['button', 'icon']" title="Icon">
        <button-demo-icon></button-demo-icon>
      </section>
      <section [demo]="['button', 'disabled']" title="Disabled">
        <button-demo-disabled></button-demo-disabled>
      </section>
      <section [demo]="['button', 'multiple']" title="Multiple Buttons">
        <button-demo-multiple></button-demo-multiple>
      </section>
      <section [demo]="['button', 'ghost']" title="Ghost Button">
        <button-demo-ghost></button-demo-ghost>
      </section>
    </ant-col>
  </ant-row>
</article>
