<section>
  <button antBtn="primary" loading>
    Loading
  </button>
  <button antBtn="primary" size="small" loading>
    Loading
  </button>
</section>

<section>
  <button antBtn="primary" [loading]="loading" (click)="loading = true">
    Click me!
  </button>
  <button antBtn="primary" icon="poweroff" [loading]="iconLoading" (click)="iconLoading = true">
    Click me!
  </button>
</section>

<section>
  <button antBtn shape="circle" loading></button>
  <button antBtn="primary" shape="circle" loading></button>  
</section>
