<h4>Basic</h4>

<ant-btn-group style="margin-right: 12px;">
  <button antBtn>Cancel</button>
  <button antBtn>OK</button>
</ant-btn-group>

<ant-btn-group style="margin-right: 12px;">
  <button antBtn disabled>L</button>
  <button antBtn disabled>M</button>
  <button antBtn disabled>R</button>
</ant-btn-group>

<ant-btn-group style="margin-right: 12px;">
  <button antBtn>L</button>
  <button antBtn>M</button>
  <button antBtn>R</button>
</ant-btn-group>

<h4>With Icon</h4>

<ant-btn-group style="margin-right: 12px;">
  <button antBtn="primary">
    <i antIcon="left"></i>
    Go back
  </button>
  <button antBtn="primary">
    Go forward
    <i antIcon="right"></i>
  </button>
</ant-btn-group>

<ant-btn-group style="margin-right: 12px;">
  <button antBtn="primary" icon="cloud" iconOnly></button>
  <button antBtn="primary" icon="cloud-download" iconOnly></button>
</ant-btn-group>
