
<!-- TODO: implement Popover -->
<i *ngIf="isMobile" class="nav-phone-icon" antIcon="menu"></i>
<ant-row>
  <ant-col span.xxl="4" span.lg="5" span.md="6" span="24">
    <a id="logo" routerLink="/">
      <img alt="logo" src="https://gw.alipayobjects.com/zos/rmsportal/KDpgvguMpGfqaHPjicRK.svg">
      <img alt="Ant Design" src="https://gw.alipayobjects.com/zos/rmsportal/DkKNubTaaVsKURhcVGkh.svg">
    </a>
  </ant-col>
  <ant-col span.xxl="20" span.lg="19" span.md="18" span="0">
    <div id="search-box">
      <i antIcon="search"></i>
      <!-- TODO: implement Input -->
      <input class="ant-input" antInput placeholder="Search in ng-antd">
    </div>
    <ng-container *ngTemplateOutlet="menu"></ng-container>
  </ant-col>
</ant-row>

<ng-template #menu>
  <!-- TODO: switch to Select -->
  <button antBtn class="header-lang-button" ghost size="small">Language</button>
  <!-- TODO: implement Select -->
  <!-- <ant-select [(ngModel)]="currentVersion" (ngModelChange)="switchVersion(version)"> -->
    <!-- <ant-option *ngFor="let version of availableVersions">{{ version.name }}</ant-option> -->
  <!-- </ant-select> -->
  <!-- TODO: select current item by route -->
  <ul antMenu class="menu-site" id="nav" [mode]="menuMode">
    <li antMenuItem="home">
      <a routerLink="/">Home</a>
    </li>
    <li antMenuItem="spec">
      <a href="https://ant.design/docs/spec/introduce" target="_blank">Guidelines</a>
    </li>
    <li antMenuItem="components">
      <a routerLink="/components">Components</a>
    </li>
  </ul>
</ng-template>
