<section>
  <ant-layout>
    <ant-header>Header</ant-header>
    <ant-content>Content</ant-content>
    <ant-footer>Footer</ant-footer>
  </ant-layout>  
</section>

<section>
  <ant-layout>
    <ant-header>Header</ant-header>
    <ant-layout>
      <ant-sider>Sider</ant-sider>
      <ant-content>Content</ant-content>
    </ant-layout>
    <ant-footer>Footer</ant-footer>
  </ant-layout>  
</section>

<section>
  <ant-layout>
    <ant-header>Header</ant-header>
    <ant-layout>
      <ant-content>Content</ant-content>
      <ant-sider>Sider</ant-sider>
    </ant-layout>
    <ant-footer>Footer</ant-footer>
  </ant-layout>  
</section>

<section>
  <ant-layout>
    <ant-sider>Sider</ant-sider>
    <ant-layout>
      <ant-header>Header</ant-header>
      <ant-content>Content</ant-content>
      <ant-footer>Footer</ant-footer>
    </ant-layout>
  </ant-layout>  
</section>
