<h3>Layout</h3>
<h4>Basic Structure</h4>
<layout-demo-basic></layout-demo-basic>
<br>
<source-viewer component="layout" demo="basic"></source-viewer>
<br>
<hr>

<h4>Header-Content-Footer</h4>
<layout-demo-top></layout-demo-top>
<br>
<source-viewer component="layout" demo="top"></source-viewer>
<br>
<hr>

<h4>Header Sider 2</h4>
<layout-demo-top-side-2></layout-demo-top-side-2>
<br>
<source-viewer component="layout" demo="top-side-2"></source-viewer>
<br>
<hr>

<h4>Header-Sider</h4>
<layout-demo-top-side></layout-demo-top-side>
<br>
<source-viewer component="layout" demo="top-side"></source-viewer>
<br>
<hr>

<h4>Sider</h4>
<layout-demo-side></layout-demo-side>
<br>
<source-viewer component="layout" demo="side"></source-viewer>
<br>
<hr>

<h4>Custom trigger</h4>
<layout-demo-custom-trigger></layout-demo-custom-trigger>
<br>
<source-viewer component="layout" demo="custom-trigger"></source-viewer>
<br>
<hr>

<h4>Responsive</h4>
<layout-demo-responsive></layout-demo-responsive>
<br>
<source-viewer component="layout" demo="responsive"></source-viewer>
<br>
<hr>

<h4>Fixed Header</h4>
<layout-demo-fixed></layout-demo-fixed>
<br>
<source-viewer component="layout" demo="fixed"></source-viewer>
<br>
<hr>

<h4>Fixed Sider</h4>
<layout-demo-fixed-sider></layout-demo-fixed-sider>
<br>
<source-viewer component="layout" demo="fixed-sider"></source-viewer>
<br>
<hr>
