<article>
  <h1>Layout</h1>

  <ant-row gutter="16">
    <ant-col class="code-boxes-col-1-1" span="24">
      <section [demo]="['layout', 'basic']" title="Basic Structure">
        <layout-demo-basic></layout-demo-basic>
      </section>
      <section [demo]="['layout', 'top']" title="Header-Content-Footer">
        <layout-demo-top></layout-demo-top>
      </section>
      <section [demo]="['layout', 'top-side-2']" title="Header Sider 2">
        <layout-demo-top-side-2></layout-demo-top-side-2>
      </section>
      <section [demo]="['layout', 'top-side']" title="Header-Sider">
        <layout-demo-top-side></layout-demo-top-side>
      </section>
      <section [demo]="['layout', 'side']" title="Sider">
        <layout-demo-side></layout-demo-side>
      </section>
      <section [demo]="['layout', 'custom-trigger']" title="Custom trigger">
        <layout-demo-custom-trigger></layout-demo-custom-trigger>
      </section>
      <section [demo]="['layout', 'responsive']" title="Responsive">
        <layout-demo-responsive></layout-demo-responsive>
      </section>
      <section [demo]="['layout', 'fixed']" title="Fixed Header">
        <layout-demo-fixed></layout-demo-fixed>
      </section>
      <section [demo]="['layout', 'fixed-sider']" title="Fixed Sider">
        <layout-demo-fixed-sider></layout-demo-fixed-sider>
      </section>
    </ant-col>
  </ant-row>
</article>
