<section>
  <ant-layout>
    <header>Header</header>
    <main>Content</main>
    <footer>Footer</footer>
  </ant-layout>  
</section>

<section>
  <ant-layout>
    <header>Header</header>
    <ant-layout>
      <aside>Sider</aside>
      <main>Content</main>
    </ant-layout>
    <footer>Footer</footer>
  </ant-layout>  
</section>

<section>
  <ant-layout>
    <header>Header</header>
    <ant-layout>
      <main>Content</main>
      <aside>Sider</aside>
    </ant-layout>
    <footer>Footer</footer>
  </ant-layout>  
</section>

<section>
  <ant-layout>
    <aside>Sider</aside>
    <ant-layout>
      <header>Header</header>
      <main>Content</main>
      <footer>Footer</footer>
    </ant-layout>
  </ant-layout>  
</section>
