<h3>Layout</h3>
<h4>Basic Structure</h4>
<div>
  <layout-demo-basic></layout-demo-basic>
</div>
<br>
<h4>Header-Content-Footer</h4>
<div>
  <layout-demo-top></layout-demo-top>
</div>
<br>
<h4>Header Sider 2</h4>
<div>
  <layout-demo-top-side-2></layout-demo-top-side-2>
</div>
<br>
<h4>Header-Sider</h4>
<div>
  <layout-demo-top-side></layout-demo-top-side>
</div>
<br>
<h4>Sider</h4>
<div>
  <layout-demo-side></layout-demo-side>
</div>
<br>
<h4>Custom trigger</h4>
<div>
  <layout-demo-custom-trigger></layout-demo-custom-trigger>
</div>
<br>
<h4>Responsive</h4>
<div>
  <layout-demo-responsive></layout-demo-responsive>
</div>
<br>
<h4>Fixed Header</h4>
<div>
  <layout-demo-fixed></layout-demo-fixed>
</div>
<br>
<h4>Fixed Sider</h4>
<div>
  <layout-demo-fixed-sider></layout-demo-fixed-sider>
</div>
<br>
