<footer id="footer">
  <div class="footer-wrap">
    <ant-row>
      <ant-col span.md="6" span="24">
        <div class="footer-center">
          <h2>Resources</h2>
          <div>
            <a target="_blank" rel="noopener noreferrer" href="http://ant.design">Ant Design of React</a>
          </div>
          <div>
            <a target="_blank" rel="noopener noreferrer" href="http://ng.ant.design">NG-ZORRO</a> - Ant Design of Angular
          </div>
          <div>
            <a target="_blank" rel="noopener noreferrer" href="https://cli.angular.io/">Angular CLI</a> - CLI tool for Angular
          </div>
          <div>
            <a target="_blank" rel="noopener noreferrer" href="http://library.ant.design/">Axure Library</a> - Axure library
          </div>
          <div>
            <a target="_blank" rel="noopener noreferrer" href="http://ux.ant.design">Ant UX</a> - Sitemap Template
          </div>
        </div>
      </ant-col>
      <ant-col span.md="6" span="24">
        <div class="footer-center">
          <h2>Community</h2>
          <div>
            <a target="_blank" rel="noopener noreferrer" href="http://zhuanlan.zhihu.com/antdesign">Zhihu</a>
          </div>
          <div>
            <a target="_blank" rel="noopener noreferrer" href="http://medium.com/ant-design/">Medium</a>
          </div>
          <div>
            <a target="_blank" rel="noopener noreferrer" href="http://twitter.com/antdesignui">Twitter</a>
          </div>
          <div>
            <a target="_blank" rel="noopener noreferrer" href="http://zhuanlan.zhihu.com/xtech">Experience Cloud Blog</a>
          </div>
          <div>
            <a target="_blank" rel="noopener noreferrer" href="http://seeconf.alipay.com/">SEE Conf</a> - Seeking Experience & Engineering Conference
          </div>
        </div>
      </ant-col>
      <ant-col span.md="6" span="24">
        <div class="footer-center">
          <h2>Help</h2>
          <div>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/trotyl/ng-antd">GitHub</a>
          </div>
          <div>
            <!-- TODO: provide CHANGELOG -->
            <a target="_blank" rel="noopener noreferrer" href="">Change Log</a>
          </div>
          <div>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/ant-design/ant-design/wiki/FAQ">FAQ</a>
          </div>
          <div>
            <!-- TODO: provide chat room -->
            <a target="_blank" rel="noopener noreferrer" href="">Chat Room (Chinese)</a>
          </div>
          <div>
            <!-- TODO: provide chat room -->
            <a target="_blank" rel="noopener noreferrer" href="">Chat Room (English)</a>
          </div>
          <div>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/trotyl/ng-antd/issues/new">Bug Report</a>
          </div>
          <div>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/ant-design/ant-design/issues">Issues</a>
          </div>
          <div>
            <a target="_blank" rel="noopener noreferrer" href="http://stackoverflow.com/questions/tagged/antd">StackOverflow</a>
          </div>
          <div>
            <a target="_blank" rel="noopener noreferrer" href="https://segmentfault.com/t/antd">SegmentFault</a>
          </div>
        </div>
      </ant-col>
      <ant-col span.md="6" span="24">
        <div class="footer-center">
          <h2>
            <img class="title-icon" src="https://gw.alipayobjects.com/zos/rmsportal/nBVXkrFdWHxbZlmMbsaH.svg" alt="">
            More Products
          </h2>
          <div>
            <a target="_blank" rel="noopener noreferrer" href="https://yuque.com/">YuQue</a> - Write your document as a team
          </div>
          <div>
            <a target="_blank" rel="noopener noreferrer" href="https://yunfengdie.com/">FengDie</a> - Mobile web app builder
          </div>
          <div>
            <a target="_blank" rel="noopener noreferrer" href="https://antv.alipay.com/">AntV</a> - Data Visualization
          </div>
          <div>
            <a target="_blank" rel="noopener noreferrer" href="https://eggjs.org/">Egg</a> - Enterprise Node Framework
          </div>
          <div>
            <a target="_blank" rel="noopener noreferrer" href="http://xcloud.alipay.com/">Ant Experience Cloud</a>
          </div>
          <div style="margin-top: 20px;">
            <!-- TODO: implement ColorPicker -->
          </div>
        </div>
      </ant-col>
    </ant-row>
  </div>
  <div class="bottom-bar">
    Site theme made with <span class="heart">❤</span> by
    <a target="_blank" rel="noopener noreferrer" href="https://yuque.com/afx/blog">AFX</a>
  </div>
</footer>
