/* You can add global styles to this file, and also import other style files */

@import '@angular/cdk/overlay-prebuilt.css';

// Extracted from site/theme/template/Home/index.jsx
.main-wrapper {
  padding: 0;
}
#header {
  box-shadow: none;
  max-width: 1200px;
  width: 100%;
  margin: 20px auto 0;
  padding: 0 24px;
}
#header,
#header .ant-select-selection,
#header .ant-menu {
  background: transparent;
}
#header #logo {
  padding: 0;
}
#header #nav .ant-menu-item {
  border-color: transparent;
}
#header #nav .ant-menu-submenu {
  border-color: transparent;
}
#header #nav .ant-menu-item.hide-in-home-page {
  display: none;
}
#header .ant-row > div:last-child .header-lang-button {
  margin-right: 0;
}
footer .footer-wrap {
  width: 100%;
  max-width: 1200px;
  padding: 86px 24px 93px 24px;
  margin: auto;
}
@media only screen and (max-width: 767.99px) {
  #footer .footer-wrap {
    padding: 40px 24px;
  }
  footer .footer-wrap .ant-row {
    padding: 0;
  }
}


[id^=components-button-demo-] .ant-btn {
  margin-right: 8px;
  margin-bottom: 12px;
}
[id^=components-button-demo-] .ant-btn-group > .ant-btn,
[id^=components-button-demo-] .ant-btn-group > span > .ant-btn {
  margin-right: 0;
}

#components-layout-demo-basic .code-box-demo {
  text-align: center;
}
#components-layout-demo-basic .ant-layout-header,
#components-layout-demo-basic .ant-layout-footer {
  background: #7dbcea;
  color: #fff;
}
#components-layout-demo-basic .ant-layout-footer {
  line-height: 1.5;
}
#components-layout-demo-basic .ant-layout-sider {
  background: #3ba0e9;
  color: #fff;
  line-height: 120px;
}
#components-layout-demo-basic .ant-layout-content {
  background: rgba(16, 142, 233, 1);
  color: #fff;
  min-height: 120px;
  line-height: 120px;
}
#components-layout-demo-basic > .code-box-demo > * > .ant-layout {
  margin-bottom: 48px;
}
#components-layout-demo-basic > .code-box-demo > * > .ant-layout:last-child {
  margin: 0;
}
