<div class="banner-bg-wrapper">
  <svg width="400px" height="576px" viewBox="0 0 400 576" fill="none">
    <!-- TODO: apply animation -->
    <ellipse cx="100" cy="100" rx="6" ry="6" stroke="#2F54EB" strokeWidth="1.6" />
    <!-- TODO: apply animation -->
    <g transform="translate(200 450)">
      <g style="transform-origin: '50% 50%'; transform: 'rotate(-340deg)';">
        <rect stroke="#FADB14" strokeWidth="1.6" width="9" height="9" />
      </g>
    </g>
  </svg>
  <!-- TODO: apply animation -->
  <div class="banner-bg"></div>
</div>
<!-- TODO: apply animation -->
<div class="banner page">
  <!-- TODO: add banner image for mobile -->
  <div class="text-wrapper">
    <h1>Ant Design</h1>
    <p>
      A design system with values of Nature and Determinacy for better user experience of enterprise applications
    </p>
    <div class="banner-btns" key="buttons">
      <a routerLink="/docs/angular/introduce">
        <button antBtn="primary" class="banner-btn components">
          Getting Started
        </button>
      </a>
      <a routerLink="/docs/spec/introduce" style="margin-left: 16px;">
        <button antBtn class="banner-btn language">
          Design Language
        </button>
      </a>
      <img style="height: 30px; margin-left: 16px;" src="https://img.shields.io/github/stars/trotyl/ng-antd?style=social">
    </div>
  </div>
  
  <div class="img-wrapper">
    <site-home-banner-image></site-home-banner-image>
  </div>
</div>
